@import "tailwindcss";

:root {
  --primary-blue: #0f5eff;
  --dark-blue: #003c9e;
  --black: #111827;
  --white: #ffffff;
  --light-bg: #f5f8ff;
  --gray-text: #6b7280;
}

body {
  background: var(--light-bg);
  font-family: Arial, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

@keyframes slidePopup {
  from {
    transform: translateX(120%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.side-popup {
  animation: slidePopup 0.6s ease-out, bounce 1.5s infinite 0.8s;
}